
.carousel{
    width: 100%;
    height: 40vh;
}
.carousel-item{
    height: 40vh;
}
.img-detail{
    width: 50%;
    height: 100%;
}
@media (max-width: 550px) {
    .img-detail{
        width: 100%;
        height: 200%;
    }
    .carousel{
        height: 50%;
    }
    .carousel-item{
        height: 50%;
    }
}