.ml-4{
    margin-left: 1.5rem;
}
.container-detail{
    padding: 10px 0 0!important;
}
.bg{
    background-color: var(--azul-claro);
    padding: 15px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 500px;
    /* background-color: black; */
}
.celeste{
    background-color: aqua;
}
.description{
    font-size: 1.2rem;
}
.review{
    background-color: white;
}
.coments{
min-width: 580px;
}
.error{
    color: red;
}
.arrow{
    font-size: 2.5rem;
    cursor: pointer;
    transition:0.5s;
}
.arrow:hover{
color: white;
}
.svelte-1602mpp{
    max-width: 100%;
}
.comments-row{
    height: 700px;
}
.stars{
    color:var(--amarillo);
    font-size: 1.4rem;
}
.product{
    width: 100%;
}
.text-little{
    font-size: 1rem;
}
#title-description{
    margin: 1rem 0;
}
#title{
    margin-bottom: 1.5rem;
}
#stock{
    margin-top: 1rem;
    min-width: 100%;
    height: auto;
}
#btn{
    cursor: pointer;
}
.bi-heart{
    cursor: pointer;
}
#addCart{
    border:1px solid black ;
    border-radius: 0 5px 5px 0;
    border-left: none;
    background-color: white;
}
#buy{
    border:1px solid black ;
    background-color: black;
    border-radius: 5px 0 0 5px;
}
.i-stock{
    text-align: center;
}
.f-size{
    font-size: 1.2rem;
    color: rgb(105, 100, 100);
    font-family: 'Lato', sans-serif;
}
.showtext{
    cursor: pointer;
}
.s{
    font-size: 1rem;
    background-color: aqua;
}
.w-35{
    width: 10rem;
}
.cursor{
    cursor: pointer;
}
.coment-container{
    height: 90px;
    overflow: auto;
}
.ml-10{
    margin-left: 7rem;
}
@media (max-width: 751px) {
    .filter-products{
        display: flex;
        flex-direction: column;
    }
    ._cardsContainer_12v3n_39{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 908px) {
    .reviews{
        max-width: 200px;
    }
    .addcoment{
        display: flex;
        flex-direction: column;
        min-width: 425px;
        background-color: aqua;
    }
}
@media (min-width: 751px) {
    .container{
        max-width: 80vh;
    }
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.removeComment{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 0.5rem;
    transition: 0.4s;
}
.removeComment:hover{
    -webkit-box-shadow: 2px 3px 18px -1px rgb(0, 0, 0);
    -moz-box-shadow: 2px 3px 18px -1px rgb(0, 0, 0);
    box-shadow: 2px 3px 18px -1px rgb(0, 0, 0);
}
.blue{
    background-color: blue;
}
.celeste{
    background-color:aqua;
}