:root{
  --verde:#28A82B;
  --verde-claro:#2FF432;
  --azul:#0777A8;
  --azul-claro:#9eccdf;
  --fondo:#d1e0e4;
  --naranja:#F54C22;
  --amarillo:#ffea00;
  --naranja-claro:#50c958;
  --white:#fff;
  --black:#000;
}
#root {
  min-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background:url("https://media.discordapp.net/attachments/1125481005885694124/1133195800609042522/FondoPresentacion.jpg?width=893&height=670");
}
.cuerpo{
  background-color:white;
  border-radius: 10px;
}
/*nuevaRama2*/