.azul{
    display: grid;
    width: 800px;
    height: 600px;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    background-color: var(--createProduct);
    border: 1px solid black;
    padding: 0 2rem;
}
.createProductTittle{
    color: var(--black-claro);
}
.description{
    height: 1.9rem !important;
}
.form-control{
    text-align: center;
}
.form-label{
    font-weight:600;
}
#stock{
    margin-top: 0;
}