.createContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .formContainer {
    width: 70%;
    height: auto;
    padding-top: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: solid black 2px;
    margin-bottom: 10px;
  }
  .titleInput{
    font-weight: bold;
  }
  .formContainer h1{
    margin-top: 0px;
  }
 .campo{
  width: 30%;
  height: 30px;
 }
  
  button[type="submit"] {
    display: block;
    margin: 10px auto;
  }
  .cbTable{
    display: flex;
    width: 550px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .option{
    width: 20%;
  }
  .pcont{
    margin: 5px;
  }
  .error{
    color: red;
    font-size: 12px;
  }