.txt-medium{
    font-size: 1.7rem;
}
.txt-large{
    font-size: 2.7rem;
}

/*SECTION CARD*/
.Cart-Products{
    min-width: 100vh;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.list-group-item{
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    min-height: 15vh;
    margin: 0.5rem;
    border: 1px solid #46A0E0;
    border-left: none;
    border-radius: 10px !important;
}

.imgs-cart{
    border-radius: 10px;
    max-width: 25%;
    max-height: 20%;
}
.img-title{
    width:100%;
    min-height: 15vh;
    padding-right: 0.5rem;
}
.bi-x-square{
    font-size: 1.5rem;
    cursor: pointer;
    color: #3B5161;
    transition: color 0.3s;
}
.bi-x-square:hover{
    color: #46A0E0;
}
#cart-card{
    width: 70vh;
    min-height: 60vh;
    margin-right: 5vh;
}
#title-price{
    padding-right: 1rem;
    font-size: 1.2rem;
    width: 100%;
    height:11vh;
}
.x-cart{
    margin-right: 1rem;
}
#aux{
    width: 50vh;
    background-color:#46A0E0;
}
.total-container{
    width: 50vh;
    height: 60vh;
    margin-top: 1rem;
    background-color: white;
    border-radius: 10px;
    padding: 0 8vh;
    position:fixed;
    border: 2px solid #46A0E0;
}
.price{
    color: #1E4561;
    margin-top: 1.5vh;
    font-weight: bold;
}

/*SECTION BUY*/
#pay{
    background-color: #BADFF9;
    min-width:7rem ;
    min-height:3rem ;
    border-radius: 5px;
    border: none;
    transition: background 0.3s;
}
#pay:hover{
    background-color: white;
    border: 2px solid #46A0E0;
}
#total{
        color: #1E4561;
        font-weight: bold;
}
#trash{
    max-width: 2rem;
    color: #3B5161;
    font-size: 3rem;
    cursor: pointer;
    transition: color 0.3s;
}
#trash:hover{
    color: #3B5161;
    font-size: 3rem;
    cursor: pointer;
    color: #46A0E0;
}