.txt-medium{
    font-size: 1.7rem;
}
.txt-large{
    font-size: 2.7rem;
}
#prev{
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 2rem;
    cursor: pointer;
}

/*SECTION CARD*/
.Cart-Products{
    min-width: 100vh;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.list-group-item{
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    min-height: 15vh;
    margin: 0.5rem;
    border: 1px solid black;
    border-left: none;
    border-radius: 10px !important;
    transition: 0.3s;
}
.list-group-item:hover{
-webkit-box-shadow: 0px 4px 38px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 38px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 38px 0px rgba(0,0,0,0.75);
}

.imgs-cart{
    border-radius: 10px 0 0 10px;
    max-width: 25%;
    max-height: 20%;
}
.img-title{
    width:100%;
    min-height: 15vh;
}
.bi-trash-fill{
    font-size: 1.5rem;
    cursor: pointer;
    color: #3B5161;
    transition: color 0.3s;
}
.bi-trash-fill:hover{
    color: black;
}
#cart-card{
    width: 70vh;
    min-height: 60vh;
}
#title-price{
    padding-right: 1rem;
    font-size: 1.2rem;
    width: 100%;
    height:11vh;
}

.x-cart{
    margin-right: 1rem;
}

#aux{
    width: 50vh;
}
.total-container{
    width: 50vh;
    height: 60vh;
    margin-top: 1rem;
    background-color: white;
    border-radius: 10px;
    padding: 0 8vh;
    position:fixed;
    border: 2px solid black;
}
.price{
    color: black;
    margin-top: 1.5vh;
    font-weight: bold;
}

/*SECTION BUY*/
#pay{
    color: white;
    background-color: black;
    min-width:7rem ;
    min-height:3rem ;
    border-radius: 5px;
    border: none;
    transition: background 0.3s;
}
#pay:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
#total{
        color: #1E4561;
        font-weight: bold;
}
#trash{
    max-width: 2rem;
    color: black;
    font-size: 3rem;
    cursor: pointer;
    transition: color 0.3s;
}
#trash:hover{
    color: #3B5161;
    font-size: 3rem;
    cursor: pointer;
}
.little{
    font-size: 1rem;
}
.red{
    background-color: red;
}
@media (max-width: 1033px) {
    .total-container{
        position:relative;
    }
    .cart-container{
        display:flex;
        flex-direction: column;
        align-items: center;
    }    
}
@media (max-width: 584px) {
    #cart-card{
        width: 100%;
    }
    .list-group-item{
        width: 100%;
    }
    #aux{
        max-width: 100%;
    }
    .total-container{
        width: 100%;
    }
}