#container-nav{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0;
    border-bottom: 1px solid black;
}
.icons{
    color: var(--white);
    font-size: 1.5rem;
    margin-right: 2rem;
    cursor: pointer;
    background-color: var(--azul);
}
.link{
    color: black;
    text-decoration: none;
}
#a{
    padding: 0;
    background-color: black;
}
#brand-container{
    margin-left: 1.7rem;
}
.navbar-nav{
    color: black;
}
.navbar{
    min-height: 4rem !important;
    background-color: var(--azul);
}