#container-nav{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0;
    border-bottom: 1px solid black;
}
.icons{
    color: black;
    font-size: 1.7rem;
    margin-right: 2rem;
    cursor: pointer;
}
#a{
    padding: 0;
    background-color: black;
}
#brand-container{
    margin-left: 1.7rem;
}