@keyframes colorChange {
    0% {

         border-color: rgb(116, 86, 250); /* Empieza con el color gris */
    }
    50% {

        border-color: red; /* Llega al color rojo a la mitad de la animación */
    }
    100% {

        border-color: rgb(137, 172, 238); /* Vuelve al color gris al final de la animación */
    }
  }


.container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border: solid red 2px;
}
.filter-container{
    width: 400px; 
}
.precio{
    margin: 2px;
    border-radius: 2px 0 0 2px; 
    font-size: 1rem;
    padding: 10px;
    height: auto;
    text-align: center;
}
.filter{
    transition: border-color 0.8s, background-color 0.5s;
    background-color: rgb(230, 230, 230);
    color: var(--white);
    margin: 2px;

}
.filter:hover {
    transition: border-color 0.8s, background-color 0.5s;
    background-color: rgb(255, 246, 246);
    color: var(--white);
    border-color: red;
}
.filter:focus {
    transition: border-color 0.8s, background-color 0.5s;
    background-color: rgb(255, 246, 246);
    color: var(--white);
    border-color: red;
    animation: colorChange 4s infinite; /* Aplica la animación con duración de 2 segundos y se repite infinitamente */
  }

.cardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}

.searchBar{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

.notFound{
    margin-top: 50px;
    margin-right: 20px;
}

.cards{
    min-height: 20rem;
}