.container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.filter-container{
    width: 400px;
}
.precio{
    background-color:  rgb(156, 157, 157);
    border-radius: 10px 0 0 10px;
    color: var(--white);
    font-size: 1rem;
    padding: 0.2rem 0.5rem 0 ;
}
.filter{
    background-color: rgb(156, 157, 157);
    color: var(--white);
    margin: 0 2px;
}
.cardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}

.searchBar{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

.notFound{
    margin-top: 50px;
    margin-right: 20px;
}

.cards{
    min-height: 20rem;
}